# Node
node_modules
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Expo/React Native
.expo/
.expo-shared/

.turbo/
dist/
.next/
build/
out/


# Build outputs
dist/
build/

# Logs
*.log

# VS / .NET
bin/
obj/
*.user
*.vs/
*.vscode/

# Others
.env
.DS_Store
